header {
    background: {
        color: white;
    }
    color: black;
    padding: 5px;

    margin: {
        bottom: 5px;
    }

    .header-wrapper {
        text-align: center
    }
    
    .header-title {
        display: inline-block
    }
}